<!DOCTYPE html>
<html>
<head>
	<!--- 	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap">
 -->
	<link rel="stylesheet" href="../static/css/styles.css">
	<title>Estatistica</title>
</head>
<body>
<div class="master-container">
	<div class="general-container">
		<div class="top center">
			<div class="text-area">
				<h1>Calculadora de estatistica simples</h1>
				<h3 id="announcer">Selecione o método de inserção de dados</h3>

			</div>
			<div class="buttons-area">
				<div class="buttons-menu">
					<div class="type-selection-area" id="type-selector">
						<button type="button" id="dados-brutos">Dados Brutos</button>
						<button type="button" id="classe-intervalo">Classes com intervalo</button>
						<button type="button" id="classe-sintervalo">Classes sem intervalo</button>
					</div>
				</div>
			</div>
			<textarea id="input"  class="input-field" rows="6" cols="20">50 54 4 54 58 9 58 62 11 62 66 8 66 70 5 70 74 3</textarea>
			<button type="button" class="input-button" id="input-button" onclick="computeSampleProvidedFromUserAndDisplayResults()">Enviar Dados</button>
		</div>
		<div class="middle center">
			<div class="table-container hidden">
			<div class="generic-stuff hidden" id="generic">
			<table>	
				<tr>
				<th>Dados</th>
				<th>Valor</th>
				</tr>
				<tr id="n">
					<th>Total (n)</th>
					
				</tr>
				<tr id="xbar">
					<th>Media (x̄)</th>
				</tr>
				<tr id="Mo">
					<th>Moda Bruta(Mo)</th>
					
				</tr>
				<tr id="MoCzuber">
					<th>Moda Czuber</th>
					
				</tr>
				<tr id="md">
					<th>Mediana (md)</th>
					
				</tr>
				<tr id="h">
					<th>Amplitude de classe (h)</th>
					
				</tr>
				<tr id="k">
					<th>Numero de classes (k)</th>
					
				</tr>
				<tr id="s">
					<th>Desvio Padrão (S)</th>
					
				</tr>
				<tr id="s2">
					<th> Variancia (S2)</th>
					
				</tr>
				<tr id="cvp">
					<th>Coeficiente Variação Pearson (CVP) </th>
					
				</tr>
				<tr id="As">
					<th>Coeficiente de Assimetria (As)</th>
					
				</tr>
				<tr id="assimetria">
					<th>Escala de assimetria</th>
					
				</tr>
			</table>
			</div>
		<div class="med-mod">
			<div class="modal-area hidden" id="modal">
				<table id="classe-modal">
					<tr>
						<th>Classe modal</th>
						<th>Valores</th>
					</tr>
					<tr id="im">
						<th>i</th>
					</tr>
					<tr id="d1">
						<th>d1</th>
					</tr>
					<tr id="d2">
						<th>d2</th>
					</tr>
					<tr id="FAAm">
						<th>FAA</th>
					</tr>
				</table>
			</div>
			<div class="mediana-area hidden" id="mediana" >
				<table id="classe-mediana">
					<tr>
						<th>Classe mediana</th>
						<th>Valores</th>
					</tr>
					<tr id="imd">
						<th>i</th>
					</tr>
					<tr id="lmd">
						<th>li</th>
					</tr>
					<tr id="Lmd">
						<th>Li</th>
					</tr>
					<tr id="FAAmd">
						<th>FAA</th>
					</tr>
				</table>
			</div>
		</div>
			<div class="frequency-area hidden" id="frequencies">
				<table id="frequencias">
					<tr>
						<th id="i">i</th>
						<th id="li">li</th>
						<th id="Li">Li</th>
						<th id="fi">fi</th>
						<th id="xi">xi</th>
						<th id="fri">fri</th>
						<th id="Fi">Fi</th>
						<th id="Fri">Fri</th>
						<th id="xifi">xi.fi</th>
						<th id="xix">xi-x̄</th>
						<th id="xix2">(xi-x̄)2</th>
						<th id="xix2fi">(xi-x̄)2.fi</th>

					</tr>

				</table>
			</div>
		</div>
		</div>
	</div>
</div>
	<script src="../controllers/menu.js"></script>
	<script src="../controllers/compute_input.js"></script>
	<script src="../controllers/update_dom_tables.js"></script>
	<script src="../main/run.js"></script>
	
	
	
</body>
</html>
