<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap">
	<link rel="stylesheet" href="../static/css/styles.css">
	<title>Estatistica</title>
</head>
<body>
	<div class="general-container">
		<div class="top center">
			<div class="text-area">
				<h1>Calculadora de estatistica simples</h1>
				<h3 id="announcer">Selecione o método de inserção de dados</h3>

			</div>
			<div class="buttons-area">
				<div class="buttons-menu">
					<div class="type-selection-area" id="type-selector">
						<button type="button" id="dados-brutos">Dados Brutos</button>
						<button type="button" id="classe-intervalo">Classes com intervalo</button>
						<button type="button" id="classe-sintervalo">Classes sem intervalo</button>
					</div>
				</div>
			</div>
			<textarea id="input"  class="input-field" rows="6" cols="20">72 81 15 81 90 38 90 99 57 99 108 71 108 117 47 117 126 27 126 135 12</textarea>
			<button type="button" class="input-button" id="input-button" onclick="computeSampleProvidedFromUser()">Enviar Dados</button>
		</div>
		<div class="middle center">
			<div class="table-container ">
			<div class="generic-stuff">
			<table>	
				<tr>
				<th>Dados Genéricos</th>
				<th>Valor</th>
				</tr>
				<tr id="totald">
					<th>Total (n)</th>
					
				</tr>
				<tr id="media">
					<th>Media</th>
				</tr>
				<tr id="modaBruta">
					<th>Moda (Mo)</th>
					
				</tr>
				<tr id="modaCzuber">
					<th>Mediana </th>
					
				</tr>
				<tr id="mediana">
					<th>Moda (Mo)</th>
					
				</tr>
				<tr id="h">
					<th>Amplitude de classe (Mo)</th>
					
				</tr>
			</table>
			</div>
			<div class="modal-area">
				<table id="classe-modal">
					<tr>
						<th>Classe modal</th>
						<th>Valores</th>
					</tr>
				</table>
			</div>
			<div class="mediana-area">
				<table id="classe-mediana">
					<tr>
						<th>Classe mediana</th>
						<th>Valores</th>
					</tr>
				</table>
			</div>
			<div class="frequency-area">
				<table id="frequencias">
					<tr>
						<th id="classes">Classe</th>
						<th id="fi">fi</th>
						<th id="xi">xi</th>
						<th id="fri">fri</th>
						<th id="Fi">Fi</th>
						<th id="Fri">Fri</th>
					</tr>

				</table>
			</div>
		</div>
		</div>
	</div>
	<script src="../controllers/menu.js"></script>
	<script src="../controllers/compute_input.js"></script>
	<script src="../main/run.js"></script>
	
</body>
</html>
