body {
 
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
   
  --s: 120px; /* control the size*/
  
  --_g: radial-gradient(#0000 70%,#1a2030 71%);
  background:
    var(--_g),var(--_g) calc(var(--s)/2) calc(var(--s)/2),
    conic-gradient(#0f9177 25%,#fdebad 0 50%,#d34434 0 75%,#b5d999 0);
  background-size: var(--s) var(--s); 

}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 5px;
  background-color: #e2deded2;
}

th, td {
  border: 1px solid #616161;
  text-align: left;
  padding: 5px;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}
.master-container {
  width: 100vw;
  height: 100vh;
  background-color: #e2deded2;
}
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    margin: 5px;
    border: 2px solid #ffffff00;
  }
  .selected {
    /* Selected button styles */
    background-color: #f00 !important;
    border: 2px solid #fff;
  }

  button:hover {
    background-color: #0062cc;
  }

  .hidden {
    display: none;
   
  }

  .input-field {

    resize: none;
    text-align: center;
    font-size: 16px;
  }
.text-area {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

  .general-container {
    display: grid;
    grid-template-areas: "top"
                         "middle";
    grid-template-rows: minmax(10vh, auto) minmax(auto, 1fr);
    grid-template-columns: 100vw;
    height: minmax(100vh, auto); 
    
    
  }

  .top {
    grid-area: top;
    flex-direction: column;
    align-items: center !important;
    justify-content: flex-start !important;
    
  }
  .middle {
    grid-area: middle;
    align-items: center;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px;
    
  }
  .input-area {
    padding: 20px;
    display: flex;
  }
  .input-field {
    margin: 10px;
  }
  .buttons-menu.disabled-buttons button {
    pointer-events: none;
    opacity: 0.5;
  }
  .med-mod {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .reset {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #reset {
    color: white;
    text-decoration: none;
  }